//Width
.w-80rem {
  max-width: 80rem;
}

.max-w-30-per {
  max-width: 30%;
}

.max-w-7rem {
  max-width: 7rem !important;
}

.max-w-21rem {
  max-width: 21rem !important;
}

.max-w-22rem {
  max-width: 22rem !important;
}

.min-w-25rem {
  min-width: 25rem !important;
}

.min-w-15rem {
  min-width: 15rem !important;
}

.min-w-19rem {
  min-width: 19rem !important;
}

.min-w-4 {
  min-width: 40% !important;
}

.max-w-7 {
  min-width: 50% !important;
}

.min-w-5rem {
  min-width: 5rem !important;
}

.min-w-10rem {
  min-width: 10rem !important;
}

//Height

.min-h-3 {
  min-height: 22vh !important;
}
