.card {
  border-radius: 8px;
  background: var(--surface-card);
  padding: 1rem;
}

.dropdown {
  position: absolute;
  margin-top: 16px;
  margin-right: 28px;
  margin-left: 28px;
  max-height: calc(-65px + 100vh);
  padding: 1rem;
  background: var(--surface-overlay);
  border-radius: 8px;
}
