// INITIAL PRIMENG CONFIGS
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';

// CUSTOM THEMES IMPORTS
@import 'assets/theme/sizes';

// PROJECTS CONFIG TO DEFAULT
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
